@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}  

html, #indexbody{
    height: 100%;
}
img {
    width: 75px;
    border-radius: 50px;
    align-items: center;
   
}

h4 {
    font-family: "Prompt", sans;
}

h4:hover {
    color:rgb(158, 255, 250);
}

#ICMh1 {
    font-family: "Quicksand", sans;
    color: rgb(255, 4, 100);
    animation-name: apple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

    @keyframes apple {
    0% {color: cyan;}
    25% {color: rgb(43, 253, 190);}
    50% {color: rgb(35, 245, 115);}
    100% {color: rgb(255, 4, 100);}
}



p {
    font-family: "Prompt", sans;
    size: 100px;
}

#indexbody {
    background-color: lightcyan;
    background-image:url(images/bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;

}

h3 {
    font-family: "Yuji Hentaigana Akari", sans;
    color: rgb(16, 49, 46);
    width:70px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:5px;}
    100% {left:0px; top:0px;}
    
}

#container {
    min-height: 100%;

}

#main {
    overflow: auto;
    padding-bottom: 50px;
}

#footer{
    background-color: lightcyan;
    color:rgb(7, 59, 59);
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
    text-align: center;
    padding: 25px;
    font-family: "prompt", sans ;
}


/* discord.html*/

#disc {
    background: url(images/thumbg.jpg);
}

#dheader:hover {
    background: rgba(253, 33, 88, 0.233);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    translate: 5s;
}

#dh1 {
    font-family: "Syncopate", sans ;
    margin: 15px;
    background-color: rgba(43, 253, 218, 0.37);
    width: 300px;
    height: 40px;
    border-radius: 25px;
}



/*preloader*/

:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 2s;
    --typewriterCharacters: 7;
}



#preloader {
    background: hsl(49 37% 94%);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
    
   
    
    
}




#preh1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Roboto Mono", sans ;
    position: relative;
    width: max-content;
    
  }
  
#preh1::before,
#preh1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
#preh1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
#preh1::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
.subtitle {
    color: hsl(0 0% 0% / 0.7);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
@keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
@keyframes blink {
    to {
      background: transparent;
    }
  }
  
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

iframe{
  display: none;
}



